*{
    background-color: rgb(5, 4, 23);
    text-align: center;
    color: rgb(49, 214, 65);
}
h2{
    text-align: right;
}
h3{
    text-align:center;
}
.h{
    background-color: rgb(49, 214, 65);
    text-align: center;
    color: black;
}
#main{
    background-color: rgb(49, 214, 65);
    text-align: center;
    color: black;
}
button{
    align-items:center;
}